:root {
  --brand-blue: #39a8ed;
  --brand-dark: #297aac;
  --text-dark: #2c3e50;
  --text-light: #5f6c7b;
  --red-bg: #f04646;
  --red-text: #ff2525;
  --yellow-text: #ffb300;
  --green: #4ade80;
  --white: #ffffff;
}

.background-custom{
  background-color: #e3f2fd;
}

.text-cdark{
  color: var(--text-dark);
}

.text-cbrand-blue{
  color: var(--brand-blue);
}

.text-clight{
  color: var(--text-light);
}

.feature-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-10px);
}


/* ANIMATIONS */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}
.delay-1 {
  animation-delay: 0.2s;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.image-animation{
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(0 20px 30px rgba(57, 168, 237, 0.15));
}