.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--white);
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  box-shadow: 4px 0 24px rgba(0, 0, 0, 0.05);
  width: 260px;
  transform: translateX(-100%);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease;
  overflow: hidden;
}

.sidebar-logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.border-bottom{
  border-bottom: 1px solid var(--border-color);
}

@media (min-width: 1024px) {
  .sidebar {
    transform: none;
    width: 80px;
  }

  .sidebar .sidebar-logo {
    transform: scale(0.9);
  }

  .sidebar.expanded .sidebar-logo {
    transform: scale(1);
  }
  
}
