.search-bar-small {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px 12px;
}

.search-bar-small span {
  color: var(--text-gray);
  font-size: 18px;
}

.search-bar-small input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}