body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 100vh;
  width: 100vw;

  overflow-y: hidden;

  padding: 0;
  margin: 0;
}

/*********************************** MAIN *******************************************/

.dashboard-main-container {
  justify-content: start;
  align-items: center;

  height: 100vh;
  width: 100%;

  background-color: white;
}

.my-icon {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 48;
  color: var(--text-light);
}

.icon-wrapper {
  cursor: pointer;
}

/*********************************** DASHBOARD **************************************/

.dashboard-header-container {
  justify-content: space-between;
  align-items: center;

  padding: 8px 16px 8px 16px;

  height: 65px;
  width: 100%;

  background-color: transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.dashboard-left {
  justify-content: start;
  width: auto;
}

.dashboard-right {
  justify-content: end;
  width: auto;
}

.extra {
  color: var(--text-light);
}

.notification-icon-wrapper {
  padding: 0px 8px 0px 0px;
}

.profile-picture-wrapper {
  padding: 0px 0px 0px 8px;
}

.profile-picture-header {
  height: 35px;
  width: 35px;

  border-radius: 100px;
}

.user-name-display-header {
  padding: 0px 0px 0px 8px;
}

.user-name-display {
  color: var(--text-dark);
}

/****************************** CONTENT CARD ************************************/

.content-card {
  justify-content: flex-start;
  align-items: flex-start;

  overflow-y: scroll;

  padding: 8px 16px 8px 16px;

  height: 100%;
  width: 100%;

  min-height: 0;
}

.content-card > div {
  flex-shrink: 0;
}

.content-card::-webkit-scrollbar {
  display: none;
}

/****************************** GREETING CARD *******************************/

.greeting-card-container {
  justify-content: center;
  align-items: start;

  height: 120px;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;

  border-radius: 12px;
  line-height: 26px;
  background: linear-gradient(to right, #39a8ed 10%, #67e3f4 60%);
}

.greeting-text {
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
  letter-spacing: -1px;
}

.sub-greeting-text {
  color: var(--white);
}

/****************************** QUEUE LIST *******************************/

.queue-list {
  height: 500px;
  width: 100%;

  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
