body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 100vh;
  width: 100vw;

  overflow-y: hidden;

  padding: 0;
  margin: 0;
}

/*********************************** MAIN *******************************************/

.dashboard-main-container {
  justify-content: start;
  align-items: center;

  height: 100vh;
  width: 100%;

  background-color: white;
}

.my-icon {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 48;
  color: var(--text-light);
}

.icon-wrapper {
  cursor: pointer;
}

.card-header {
  padding: 0px 0px 0px 8px;
  font-size: 24px;
  font-weight: 600;
}

.card-subheader {
  margin: 4px 0px 0px 0px;

  font-size: 14px;
  font-weight: 400;

  line-height: 18px;
  color: var(--text-light);
}

.default-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 100%;
  margin: 16px 0px 0px 0px;

  border: none;
  border-radius: 12px;
  background-color: var(--brand-blue);

  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: var(--white);

  cursor: pointer;
}

.white-button {
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  color: var(--text-dark);
}

.green-button {
  background-color: var(--green);
}

/*********************************** DASHBOARD **************************************/

.dashboard-header-container {
  justify-content: space-between;
  align-items: center;

  padding: 8px 16px 8px 16px;

  height: 65px;
  width: 100%;

  background-color: transparent;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.dashboard-left {
  justify-content: start;
  width: auto;
}

.dashboard-right {
  justify-content: end;
  width: auto;
}

.extra {
  color: var(--text-light);
}

.notification-icon-wrapper {
  padding: 0px 8px 0px 0px;
}

.profile-picture-wrapper {
  padding: 0px 0px 0px 8px;
}

.profile-picture-header {
  height: 35px;
  width: 35px;

  border-radius: 100px;
}

.user-name-display-header {
  padding: 0px 0px 0px 8px;
}

.user-name-display {
  color: var(--text-dark);
}

/****************************** CONTENT CARD ************************************/

.content-card {
  justify-content: flex-start;
  align-items: flex-start;

  overflow-y: scroll;

  padding: 8px 16px 8px 16px;

  height: 100%;
  width: 100%;

  min-height: 0;
}

.content-card > div {
  flex-shrink: 0;
}

.content-card::-webkit-scrollbar {
  display: none;
}

/****************************** GREETING CARD *******************************/

.greeting-card-container {
  justify-content: center;
  align-items: start;

  height: 120px;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;

  border-radius: 12px;
  line-height: 26px;
  background: linear-gradient(to right, #39a8ed 10%, #67e3f4 60%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.greeting-text {
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
  letter-spacing: -1px;
}

.sub-greeting-text {
  color: var(--white);
}

/****************************** QUEUE LIST *******************************/

.queue-list {
  justify-content: start;

  padding: 16px;
  height: 600px;
  width: 100%;

  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.description-holder {
  justify-content: start;

  height: auto;
  width: 100%;
}

.blue-icon {
  color: var(--brand-blue);
}

.queue-individual-container {
  justify-content: start;
  overflow-y: scroll;

  margin: 16px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

.queue-individual-container > div {
  flex-shrink: 0;
}

.queue-individual-container::-webkit-scrollbar {
  display: none;
}

/**** QUEUE CARDS ****/

.queue-individual-box {
  justify-content: start;

  padding: 8px 12px 8px 12px;
  height: auto;
  width: 100%;
}

.profile-picture-queue-wrapper {
  margin: 0px 12px 0px 0px;
}

.profile-picture-queue {
  height: 50px;
  width: 50px;

  border-radius: 100px;
}

.user-info-container {
  justify-content: space-between;
  align-items: start;

  height: 100%;
  flex: 2.5;

  line-height: 14px;
}

.user-name {
  padding: 0px 0px 0px 0px;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
}

.user-act-info {
  font-size: 12px;

  color: var(--text-light);
}

.user-status-container {
  height: 100%;
  flex: 1.5;
}

/** OTW **/

.user-status-box-otw {
  width: 100%;
  padding: 4px 8px 4px 8px;

  border: solid 2px var(--brand-blue);
  border-radius: 100px;
}

.user-status-text-otw {
  font-size: 12px;
  font-weight: 600;
  color: var(--brand-blue);
}

/** PENDING **/

.user-status-box-pending {
  width: 100%;
  padding: 4px 8px 4px 8px;

  border: solid 2px var(--yellow-text);
  border-radius: 100px;
}

.user-status-text-pending {
  font-size: 12px;
  font-weight: 600;
  color: var(--yellow-text);
}

/** LATE **/

.user-status-box-late {
  width: 100%;
  padding: 4px 8px 4px 8px;

  border: solid 2px var(--red-text);
  border-radius: 100px;
}

.user-status-text-late {
  font-size: 12px;
  font-weight: 600;
  color: var(--red-text);
}

/**************************** EMERGENCY CARD *****************************/

.emergency-card-container {
  justify-content: start;
  align-items: start;

  height: auto;
  width: 100%;
  padding: 16px;
  margin: 16px 0px 0px 0px;

  background-color: var(--red-bg);
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.alert-icon-wrapper {
  height: 100%;
  flex: 0.5;
}

.alert-icon {
  color: var(--white);
}

.description-holder-emergency {
  justify-content: start;
  align-items: start;

  flex: 4;
  margin: 0px 0px 0px 8px;
}

.emergency-text-header {
  width: 100%;
  padding: 0;

  color: var(--white);
}

.emergency-text-subheader {
  color: var(--white);
}

.proceed-emergency-button {
  height: 100%;
  flex: 0.5;
}

/**************************** QR CODE SCANNER *****************************/

.qr-code-scanner-container {
  justify-content: start;
  align-items: center;

  height: auto;
  width: 100%;
  margin: 16px 0px 0px 0px;
  padding: 16px;

  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.display-icon-wrapper {
  height: 300px;
  width: 100%;
  margin: 16px 0px 0px 0px;

  border-radius: 12px;
  background: linear-gradient(to bottom, var(--brand-blue) 10%, #b7dff8 60%);
}

.student-display {
  background: linear-gradient(to bottom, var(--green) 10%, #beffc6 60%);
}

/**************************** CLASSROOM ANNOUNCEMENT *****************************/

.class-announcement-container {
  justify-content: start;
  align-items: center;

  height: auto;
  width: 100%;
  margin: 16px 0px 0px 0px;
  padding: 16px;

  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.class-announcement-input-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  height: 150px;
  width: 100%;
  padding: 16px;
  margin: 8px 0px 0px 0px;

  border: solid 1px var(--text-dark);
  border-radius: 8px;

  text-align: start;
  font-family: Poppins, sans-serif;
  color: var(--text-dark);
}

.class-announcement-input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  height: 100px;
  width: 100%;
  resize: none;
  border: none;

  text-align: start;
  font-family: Poppins, sans-serif;
  color: var(--text-dark);
}

.class-announcement-input:focus {
  outline: none;

  border-radius: 4px;
}

.class-announcement-act {
  justify-content: center;
  align-items: center;

  width: 100%;
}

.left-side-act,
.right-side-act {
  flex: 1;
}

.left-side-act {
  justify-content: start;
}

.right-side-act {
  justify-content: end;
}

.class-announcement-icon {
  margin: 0px 8px 0px 0px;
}

.post-button {
  height: 100%;
  width: 50%;

  margin: 0;
}

/**************************************************** FOR TESTING PURPOSES *************************************************************/

.sample-card {
  display: flex;
}
