* {
  letter-spacing: -0.5px;
}

body {
  justify-content: start;
  align-self: center;
  color: var(--text);
  font-family: "Poppins";
}

.teacher-registration-main-container {
  justify-content: center;
  align-items: start;

  height: auto;
  width: 80%;
  max-width: 1000px;
  margin: 50px 0px 0px 0px;
}

/*SPECIFICS*/

.teacher-registration-header-text {
  display: flex;

  height: auto;
  width: 100%;

  font-weight: 600;
  font-size: 32px;
  font-style: semi-bold;
}

.teacher-registration-description-text {
  display: flex;

  height: auto;
  width: 100%;
  margin: 0px 0px 35px 0px;

  font-size: 14px;
  font-weight: 300;
  font-style: extra-light;
}

.enlarged-text {
  font-size: 20px;
  font-weight: 600;
}

/*FORM*/

.teacher-registration-form {
  height: auto;
  width: 100%;
  margin: 0px 0px 30px 0px;
}

.lbl-input-wrapper {
  height: auto;
  width: 100%;
  margin: 0px 0px 30px 0px;
}

.teacher-registration-label {
  display: flex;
  justify-content: start;
  align-items: center;

  width: auto;

  font-size: 16px;
  font-weight: 500;
  color: #6a707c;
}

.teacher-registration-input {
  height: 43px;
  padding: 0px 12px 0px 12px;

  color: var(--opacity-text);
  border: solid 1px;
  border-color: #e0e5ed;
  border-radius: 10px;
  background-color: #e8ecf4;
}

.teacher-registration-input:focus {
  outline: none;
  border-color: var(--blue);
}

.required {
  margin: 0px 0px 0px 5px;

  color: var(--blue);
  font-size: 13px;
  font-weight: 400;
}

.button-wrapper {
  justify-content: space-around;
  align-items: center;

  height: auto;
  width: 100%;
}

.back-button,
.next-button {
  width: 172px;
  margin: 0;
}

.back-button {
  background-color: transparent;
  border: 1px solid #8b5cf6;
  color: #8b5cf6;
}

.next-button {
  background-color: #8b5cf6;
  border: none;
  color: var(--white);
}

.next-button:active {
  background-color: #4c3088;
}

.back-button:active {
  background-color: #4c3088;
  color: var(--white);
}

/*PART 1*/

/*#irstPartContent {
  display: none;
}
*/

/*PART 2*/

/*#secondPartContent {
  display: none;
}*/

.multiple-input-wrapper {
  justify-content: space-between;
  width: 100%;
}

.lbl-input-wrapper-alter {
  margin: 0px 0px 0px 20px;
}

/*PART 3*/
